glassfish/domains/domain1/applications/RSI/WEB-INF/classes/service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.rsi.wvffle.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.rsi.wvffle.net/" name="CityInformationService">
<wsp:Policy wsu:Id="CityInformationPortBinding_MTOM_Policy-CityInformationPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://services.rsi.wvffle.net/" schemaLocation="https://wsdl--main--project-rsi--siwykot41.code.wvffle.net/RSI/CityInformationService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPaginatedEvents">
<part name="parameters" element="tns:getPaginatedEvents"/>
</message>
<message name="getPaginatedEventsResponse">
<part name="parameters" element="tns:getPaginatedEventsResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getEventById">
<part name="parameters" element="tns:getEventById"/>
</message>
<message name="getEventByIdResponse">
<part name="parameters" element="tns:getEventByIdResponse"/>
</message>
<message name="generatePdf">
<part name="parameters" element="tns:generatePdf"/>
</message>
<message name="generatePdfResponse">
<part name="parameters" element="tns:generatePdfResponse"/>
</message>
<message name="DocumentException">
<part name="fault" element="tns:DocumentException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="addEvent">
<part name="parameters" element="tns:addEvent"/>
</message>
<message name="addEventResponse">
<part name="parameters" element="tns:addEventResponse"/>
</message>
<message name="updateEvent">
<part name="parameters" element="tns:updateEvent"/>
</message>
<message name="updateEventResponse">
<part name="parameters" element="tns:updateEventResponse"/>
</message>
<message name="deleteEvent">
<part name="parameters" element="tns:deleteEvent"/>
</message>
<message name="deleteEventResponse">
<part name="parameters" element="tns:deleteEventResponse"/>
</message>
<message name="getAllEvents">
<part name="parameters" element="tns:getAllEvents"/>
</message>
<message name="getAllEventsResponse">
<part name="parameters" element="tns:getAllEventsResponse"/>
</message>
<message name="getEventsForDay">
<part name="parameters" element="tns:getEventsForDay"/>
</message>
<message name="getEventsForDayResponse">
<part name="parameters" element="tns:getEventsForDayResponse"/>
</message>
<message name="getEventsForWeek">
<part name="parameters" element="tns:getEventsForWeek"/>
</message>
<message name="getEventsForWeekResponse">
<part name="parameters" element="tns:getEventsForWeekResponse"/>
</message>
<portType name="CityInformation">
<operation name="getPaginatedEvents">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/getPaginatedEventsRequest" message="tns:getPaginatedEvents"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/getPaginatedEventsResponse" message="tns:getPaginatedEventsResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/getPaginatedEvents/Fault/SQLException"/>
</operation>
<operation name="getEventById">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventByIdRequest" message="tns:getEventById"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventByIdResponse" message="tns:getEventByIdResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventById/Fault/SQLException"/>
</operation>
<operation name="generatePdf">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/generatePdfRequest" message="tns:generatePdf"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/generatePdfResponse" message="tns:generatePdfResponse"/>
<fault message="tns:DocumentException" name="DocumentException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/generatePdf/Fault/DocumentException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/generatePdf/Fault/IOException"/>
</operation>
<operation name="addEvent">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/addEventRequest" message="tns:addEvent"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/addEventResponse" message="tns:addEventResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/addEvent/Fault/SQLException"/>
</operation>
<operation name="updateEvent">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/updateEventRequest" message="tns:updateEvent"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/updateEventResponse" message="tns:updateEventResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/updateEvent/Fault/SQLException"/>
</operation>
<operation name="deleteEvent">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/deleteEventRequest" message="tns:deleteEvent"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/deleteEventResponse" message="tns:deleteEventResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/deleteEvent/Fault/SQLException"/>
</operation>
<operation name="getAllEvents">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/getAllEventsRequest" message="tns:getAllEvents"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/getAllEventsResponse" message="tns:getAllEventsResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/getAllEvents/Fault/SQLException"/>
</operation>
<operation name="getEventsForDay">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventsForDayRequest" message="tns:getEventsForDay"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventsForDayResponse" message="tns:getEventsForDayResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventsForDay/Fault/SQLException"/>
</operation>
<operation name="getEventsForWeek">
<input wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventsForWeekRequest" message="tns:getEventsForWeek"/>
<output wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventsForWeekResponse" message="tns:getEventsForWeekResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services.rsi.wvffle.net/CityInformation/getEventsForWeek/Fault/SQLException"/>
</operation>
</portType>
<binding name="CityInformationPortBinding" type="tns:CityInformation">
<wsp:PolicyReference URI="#CityInformationPortBinding_MTOM_Policy-CityInformationPortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPaginatedEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getEventById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="generatePdf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DocumentException">
<soap:fault name="DocumentException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="addEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="updateEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="deleteEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getAllEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getEventsForDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getEventsForWeek">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CityInformationService">
<port name="CityInformationPort" binding="tns:CityInformationPortBinding">
<soap:address location="https://wsdl--main--project-rsi--siwykot41.code.wvffle.net/RSI/CityInformationService"/>
</port>
</service>
</definitions>